
@import "imports/family-weekend-settings";
@import "../../../division-simple/scss/master";

/* Colors */



/* Bootstrap overrides: */

body{
    font-family: 'Helvetica', 'Arial', sans;
    background: white;
}

h1, h2 h3, h4, h5{
    font-family: 'Helvetica', 'Arial', sans;
    border: none;
} 

body.modal-open {
        margin: 0; /* why is this defaulted to margin-left: 15 ???? */
    }
h1{

}
a{ 
    color: $primary-color;
}
.btn {
    border-radius: 0;
}

.icon-bar {
    background: $primary-color;
}

/* Additional Styles */
.container.intro {
    
    background: white;
    @media screen and (min-width: 768px){
        margin-top: -50px;
    }
}


.bg-container {
    background-image: url('../images/family-weekend/bg.jpg');
    background-color: #274C83;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;

    @media screen and (min-width: 768px){
        background-size: auto;
        height: 506px;

    }

}

.container.intro, .container.main-content {
        font-size: 1.3em;
        h1{
            color: $primary-color;

        }
        h1[id]{
                padding-top: 238px;

            @media screen and (min-width: 1024px){
                padding-top: 90px;
            }
        }
        .content-block {

            @media screen and (min-width: 1024px){
            padding-top: 120px;
            padding-bottom: 120px;
            }
        }

        .content-block h3:first-child{
            margin-top: 0;
            padding-top: 0;
        }



        section{
            /*border-bottom: 1px solid #eee;*/
            padding-bottom: 1em;
        }
        section.first h1[id]{
            padding-top: 0;
        }

        section.first .content-block{
            padding-top: 20px;
        }
        hr{ }

        #speaker-list .col-sm-3 img{
            width:100%;


        }

    .speaker-title {
        clear: both;
    }
    .speaker-list {
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: justify;
    }
    .speaker-list:after { /* http://www.barrelny.com/blog/text-align-justify-and-rwd/ */
        content: '';
        display: inline-block;
        width: 100%;
    }
    .speaker-list li {
        margin-bottom: 1em;
        vertical-align: top;
        text-align: left;
        @media screen and (min-width: 480px) {
            display: inline-block;
            width: 48%;
        }
        @media screen and (min-width: 768px) {
            width: 23%;
        }
    }
    .speaker-list .filler {
        height: 0;
        margin: 0;
    }
    .speaker-img {
        width: 100%;
    }
    .speaker-link {
        display: block;
        margin-bottom: 0.1em;
        position: relative;
    }
    .speaker-link:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -ms-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
    }
    .speaker-link:hover:before {
        
    }
    .speaker-name {margin: 0;}
    .speaker-position {
        display: block;
    }
    .speaker-name {
        margin: 0;
    }

}

.speaker-popup img{
    float: right;
    padding: 10px;
    width: 30%;
}

.modal-content{
    border-radius: 0;
}

footer {
    color: #979797;
}

.sponsor-logo {
    width: 70%;
    @media screen and (min-width: 1024px){
        width: 100%
    }
}
.sponsor-logo.csil{
        @media screen and (min-width: 768px){
            margin-top: 20px;
        }
    }

