/* Colors */

$red: #ff2b06;


/* Bootstrap overrides: */

body{
	font-family: 'Helvetica', 'Arial', sans;
	padding-top: 80px;

	@media screen and (min-width: 768px){
		padding-top: 100px;
	}
}

a{ 
	color: red
}

.navbar-brand img{

	height: 75%;
	width: 75%;

	@media screen and (min-width: 768px){
		height: 100%;
		width: 100%;

	}

}
.nav>li a{

	&:hover, &:focus {
		color: darken($red, 10);
	}

	@media screen and (min-width: 768px){
		padding-top: 30px;
		padding-bottom: 30px;
	}
}


.navbar {
	background: rgba(255,255,255,0.95);
	border-bottom: 1px solid #ddd;
}

.icon-bar {
	background: $red;
}
.navbar-collapse {
	background: white;
}