/* Colors */
/* Bootstrap overrides: */
/* line 8, ../scss/family-weekend.scss */
body {
  font-family: 'Helvetica', 'Arial', sans;
}

/* line 15, ../scss/family-weekend.scss */
h1, h2 h3, h4, h5 {
  font-family: 'Helvetica', 'Arial', sans;
  border: none;
}

/* line 20, ../scss/family-weekend.scss */
body.modal-open {
  margin: 0;
  /* why is this defaulted to margin-left: 15 ???? */
}

/* line 25, ../scss/family-weekend.scss */
.header-box {
  max-width: 1765px;
  margin: 0 auto;
}
/* line 29, ../scss/family-weekend.scss */
.header-box .col-md-5 {
  padding: 0;
}
/* line 33, ../scss/family-weekend.scss */
.header-box img {
  position: relative;
  z-index: 2;
}

/* line 39, ../scss/family-weekend.scss */
.date-banner {
  text-align: left;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  width: 100%;
}
/* line 50, ../scss/family-weekend.scss */
.date-banner h1 {
  color: white;
  padding: 1px 30px;
  margin: .1em 0 .1em 0;
  font-size: 2.25em;
  display: inline-block;
  letter-spacing: .88px;
  background-color: rgba(24, 24, 24, 0.93);
  width: 100%;
}

/* line 63, ../scss/family-weekend.scss */
.clearfloat {
  display: none;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 992px) {
  /* line 70, ../scss/family-weekend.scss */
  .clearfloat {
    display: block;
    margin-top: 22%;
  }

  /* line 75, ../scss/family-weekend.scss */
  .date-banner h1 {
    color: white;
    padding-top: .25em;
    padding-bottom: .25em;
    padding-left: 11%;
    margin: .1em .5em .1em 1.75em;
    font-size: 1.66em;
    display: inline-block;
    text-align: left;
    letter-spacing: .5px;
    background-color: rgba(24, 24, 24, 0.93);
    width: 100%;
    margin-left: -15%;
    z-index: 1;
    position: relative;
  }
}
@media (min-width: 1150px) {
  /* line 95, ../scss/family-weekend.scss */
  .date-banner h1 {
    color: white;
    padding-top: .25em;
    padding-bottom: .25em;
    padding-left: 15%;
    margin: .1em .5em .1em 1.75em;
    font-size: 2em;
    display: inline-block;
    text-align: left;
    letter-spacing: .44px;
    background-color: rgba(24, 24, 24, 0.93);
    width: 100%;
    margin-left: -15%;
    z-index: 1;
    position: relative;
  }
}
/* line 116, ../scss/family-weekend.scss */
a {
  color: #222;
}

/* line 120, ../scss/family-weekend.scss */
.btn {
  border-radius: 0;
}

/* line 124, ../scss/family-weekend.scss */
.navbar-brand {
  padding: 5px;
}

/* line 128, ../scss/family-weekend.scss */
.navbar-brand img {
  width: 226px;
  height: 50px;
}
@media screen and (min-width: 768px) {
  /* line 128, ../scss/family-weekend.scss */
  .navbar-brand img {
    width: 226px;
    height: 50px;
  }
}

/* line 138, ../scss/family-weekend.scss */
.nav > li a:hover, .nav > li a:focus {
  color: #ff5639;
  text-shadow: 0 1px 0 white;
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(top, white 0%, #efefef 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #efefef));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, white 0%, #efefef 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, white 0%, #efefef 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, white 0%, #efefef 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ffffff 0%, #efefef 100%);
  /* W3C */
}
@media screen and (min-width: 768px) {
  /* line 137, ../scss/family-weekend.scss */
  .nav > li a {
    padding-top: 37px;
    padding-bottom: 10px;
    font-size: 1.2em;
  }
}

/* line 163, ../scss/family-weekend.scss */
.navbar {
  /*background: rgba(255,255,255,0.95);*/
  background: rgba(255, 255, 255, 0.97);
  box-shadow: 0px 1px 3px rgba(51, 51, 51, 0.19);
  /*border-bottom: 1px solid #ddd;*/
}

@media (min-width: 768px) {
  /* line 170, ../scss/family-weekend.scss */
  .navbar-nav {
    float: right;
  }
}

/* line 176, ../scss/family-weekend.scss */
.icon-bar {
  background: #ff2b06;
}

/* line 180, ../scss/family-weekend.scss */
.navbar-collapse {
  /*background: white;*/
}

/* line 184, ../scss/family-weekend.scss */
.navbar-toggle {
  margin-top: 12px;
  margin-bottom: 12px;
}

/* Additional Styles */
/* line 190, ../scss/family-weekend.scss */
.container.intro {
  background: white;
}
@media screen and (min-width: 768px) {
  /* line 190, ../scss/family-weekend.scss */
  .container.intro {
    margin-top: -50px;
  }
}

/* line 197, ../scss/family-weekend.scss */
.hero-text-container {
  background: rgba(51, 51, 51, 0.05);
  padding: 10px 0;
}
@media screen and (min-width: 768px) {
  /* line 197, ../scss/family-weekend.scss */
  .hero-text-container {
    background: none;
  }
}

/* line 205, ../scss/family-weekend.scss */
.hero-text {
  font-size: 3em;
  font-weight: bold;
  color: white;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
}
@media screen and (min-width: 768px) {
  /* line 205, ../scss/family-weekend.scss */
  .hero-text {
    font-size: 6em;
  }
}
@media screen and (min-width: 1024px) {
  /* line 205, ../scss/family-weekend.scss */
  .hero-text {
    font-size: 7em;
  }
}

/* line 218, ../scss/family-weekend.scss */
.hero-text.left {
  color: #f1c654;
}
@media screen and (min-width: 768px) {
  /* line 218, ../scss/family-weekend.scss */
  .hero-text.left {
    margin-top: 0.3em;
  }
}

@media screen and (min-width: 768px) {
  /* line 225, ../scss/family-weekend.scss */
  .hero-text.right {
    float: right;
    line-height: 1.2;
  }
}

/* line 233, ../scss/family-weekend.scss */
.hero-text .ideas {
  display: block;
}
/* line 236, ../scss/family-weekend.scss */
.hero-text .date, .hero-text .location {
  display: block;
}
/* line 239, ../scss/family-weekend.scss */
.hero-text .date {
  color: white;
  font-size: 0.6em;
}
@media screen and (min-width: 768px) {
  /* line 239, ../scss/family-weekend.scss */
  .hero-text .date {
    text-align: right;
  }
}
@media screen and (min-width: 1024px) {
  /* line 239, ../scss/family-weekend.scss */
  .hero-text .date {
    font-size: 0.7em;
  }
}
/* line 249, ../scss/family-weekend.scss */
.hero-text .location {
  font-size: 0.4em;
}
@media screen and (min-width: 1024px) {
  /* line 249, ../scss/family-weekend.scss */
  .hero-text .location {
    font-size: 0.5em;
    text-align: right;
  }
}
/* line 256, ../scss/family-weekend.scss */
.hero-text .buy-tickets {
  color: #ff2b06;
  background: white;
  font-size: 0.4em;
  text-shadow: none;
  padding: 0.2em;
}
@media screen and (min-width: 768px) {
  /* line 256, ../scss/family-weekend.scss */
  .hero-text .buy-tickets {
    display: block;
    float: right;
    font-size: 0.5em;
  }
  /* line 267, ../scss/family-weekend.scss */
  .hero-text .buy-tickets a:hover {
    color: #d21f00;
    text-decoration: none;
  }
}

/* line 276, ../scss/family-weekend.scss */
.bg-container {
  background-image: url("../images/family-weekend/bg.jpg");
  background-color: white;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  position: relative;
}
@media screen and (min-width: 768px) {
  /* line 276, ../scss/family-weekend.scss */
  .bg-container {
    background-size: auto;
    height: 506px;
  }
}

/* line 289, ../scss/family-weekend.scss */
.container.intro, .container.main-content {
  font-size: 1.3em;
}
/* line 291, ../scss/family-weekend.scss */
.container.intro h1, .container.main-content h1 {
  color: #ff2b06;
}
/* line 294, ../scss/family-weekend.scss */
.container.intro h1[id], .container.main-content h1[id] {
  padding-top: 238px;
}
@media screen and (min-width: 1024px) {
  /* line 294, ../scss/family-weekend.scss */
  .container.intro h1[id], .container.main-content h1[id] {
    padding-top: 90px;
  }
}
@media screen and (min-width: 1024px) {
  /* line 300, ../scss/family-weekend.scss */
  .container.intro .content-block, .container.main-content .content-block {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
/* line 306, ../scss/family-weekend.scss */
.container.intro .content-block h3:first-child, .container.main-content .content-block h3:first-child {
  margin-top: 0;
  padding-top: 0;
}
/* line 310, ../scss/family-weekend.scss */
.container.intro section, .container.main-content section {
  /*border-bottom: 1px solid #eee;*/
  padding-bottom: 1em;
}
/* line 314, ../scss/family-weekend.scss */
.container.intro section.first h1[id], .container.main-content section.first h1[id] {
  padding-top: 0;
}
/* line 317, ../scss/family-weekend.scss */
.container.intro section.first .content-block, .container.main-content section.first .content-block {
  padding-top: 20px;
}
/* line 321, ../scss/family-weekend.scss */
.container.intro #speaker-list .col-sm-3 img, .container.main-content #speaker-list .col-sm-3 img {
  width: 100%;
}
/* line 324, ../scss/family-weekend.scss */
.container.intro .speaker-title, .container.main-content .speaker-title {
  clear: both;
}
/* line 327, ../scss/family-weekend.scss */
.container.intro .speaker-list, .container.main-content .speaker-list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: justify;
}
/* line 333, ../scss/family-weekend.scss */
.container.intro .speaker-list:after, .container.main-content .speaker-list:after {
  /* http://www.barrelny.com/blog/text-align-justify-and-rwd/ */
  content: '';
  display: inline-block;
  width: 100%;
}
/* line 339, ../scss/family-weekend.scss */
.container.intro .speaker-list li, .container.main-content .speaker-list li {
  margin-bottom: 1em;
  vertical-align: top;
  text-align: left;
}
@media screen and (min-width: 480px) {
  /* line 339, ../scss/family-weekend.scss */
  .container.intro .speaker-list li, .container.main-content .speaker-list li {
    display: inline-block;
    width: 48%;
  }
}
@media screen and (min-width: 768px) {
  /* line 339, ../scss/family-weekend.scss */
  .container.intro .speaker-list li, .container.main-content .speaker-list li {
    width: 23%;
  }
}
/* line 351, ../scss/family-weekend.scss */
.container.intro .speaker-list .filler, .container.main-content .speaker-list .filler {
  height: 0;
  margin: 0;
}
/* line 355, ../scss/family-weekend.scss */
.container.intro .speaker-img, .container.main-content .speaker-img {
  width: 100%;
}
/* line 358, ../scss/family-weekend.scss */
.container.intro .speaker-link, .container.main-content .speaker-link {
  display: block;
  margin-bottom: 0.1em;
  position: relative;
}
/* line 363, ../scss/family-weekend.scss */
.container.intro .speaker-link:before, .container.main-content .speaker-link:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
/* line 374, ../scss/family-weekend.scss */
.container.intro .speaker-name, .container.main-content .speaker-name {
  margin: 0;
}
/* line 377, ../scss/family-weekend.scss */
.container.intro .speaker-position, .container.main-content .speaker-position {
  display: block;
}
/* line 380, ../scss/family-weekend.scss */
.container.intro .speaker-name, .container.main-content .speaker-name {
  margin: 0;
}

/* line 385, ../scss/family-weekend.scss */
.speaker-popup img {
  float: right;
  padding: 10px;
  width: 30%;
}

/* line 391, ../scss/family-weekend.scss */
.modal-content {
  border-radius: 0;
}

/* line 395, ../scss/family-weekend.scss */
footer {
  color: #979797;
}

/* line 399, ../scss/family-weekend.scss */
.sponsor-logo {
  width: 70%;
}
@media screen and (min-width: 1024px) {
  /* line 399, ../scss/family-weekend.scss */
  .sponsor-logo {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  /* line 406, ../scss/family-weekend.scss */
  .sponsor-logo.csil {
    margin-top: 20px;
  }
}
